<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 68.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=d69a1be6dd32cc6d62696d432e9cbc59fc0c6a16cc4bfe84d2b91dbf76ff4c3b
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [42]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [40]:
import pandas as pd
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/SQLLIte/Spacex.csv")

#df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [31]:
df = pd.read_csv("Spacex.csv")

In [33]:
con = sqlite3.connect('my_data1.db')

In [34]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

In [43]:
# Execute SQL query to fetch and display data
query = "SELECT * FROM SPACEXTBL;"
df_from_sql = pd.read_sql_query(query, con)
print("Contents of SPACEXTBL:")
print(df_from_sql)

Contents of SPACEXTBL:

ModuleNotFoundError: No module named 'pandas.io.formats.string'

In [27]:
con.close()

**Note:This below code is added to remove blank rows from table**

In [35]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [50]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
# SQL query to fetch unique launch site names
query_task1 = '''
SELECT DISTINCT "Launch Site"
FROM SPACEXTBL;
'''

# Execute the query
cur.execute(query_task1)

# Fetch all results
results_task1 = cur.fetchall()

# Print the results
print("Unique Launch Sites:")
for result in results_task1:
    print(result[0])

Unique Launch Sites:
Launch Site


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [46]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 75.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.3.5
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('my_data1.db')

# SQL query to fetch 5 records where launch sites begin with 'CCA'
query = """
        SELECT * 
        FROM SPACEXTBL
        WHERE "Launch_Site" LIKE 'CCA%'
        LIMIT 5;
        """

# Execute SQL query and load results into a Pandas DataFrame
df_result = pd.read_sql_query(query, conn)

# Print the result
print("Records where launch sites begin with 'CCA':")
print(df_result)

# Close connection
conn.close()

Records where launch sites begin with 'CCA':
         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [52]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
SELECT SUM("PAYLOAD_MASS__KG_") AS total_payload_mass
FROM SPACEXTBL
WHERE "Customer" = 'NASA (CRS)';
'''

# Execute the query and fetch the result
cursor = con.execute(query)
total_payload_mass = cursor.fetchone()[0]  # Fetch the first column of the first row

# Print the result
print("Total payload mass carried by NASA (CRS) boosters:", total_payload_mass)

# Close the connection
con.close()

Total payload mass carried by NASA (CRS) boosters: 45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [53]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
SELECT AVG("PAYLOAD_MASS__KG_") AS avg_payload_mass
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';
'''

# Execute the query and fetch the result
cursor = con.execute(query)
avg_payload_mass = cursor.fetchone()[0]  # Fetch the first column of the first row

# Print the result
print("Average payload mass carried by booster version F9 v1.1:", avg_payload_mass)

# Close the connection
con.close()

Average payload mass carried by booster version F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [54]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
SELECT MIN(Date) AS first_successful_landing_date
FROM SPACEXTBL
WHERE "Landing_Outcome" LIKE '%Success%' 
AND ("Landing_Outcome" LIKE '%ASDS%' OR "Landing_Outcome" LIKE '%RTLS%');
'''

# Execute the query and fetch the result
cursor = con.execute(query)
first_successful_landing_date = cursor.fetchone()[0]  # Fetch the first column of the first row

# Print the result
print("Date when the first successful landing outcome on ground pad was achieved:", first_successful_landing_date)

# Close the connection
con.close()

Date when the first successful landing outcome on ground pad was achieved: None

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [55]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
SELECT DISTINCT Booster_Version
FROM SPACEXTBL
WHERE "Landing_Outcome" LIKE '%Success%'
AND "Landing_Outcome" LIKE '%drone ship%'
AND PAYLOAD_MASS__KG_ > 4000
AND PAYLOAD_MASS__KG_ < 6000;
'''

# Execute the query and fetch the result
cursor = con.execute(query)
boosters = cursor.fetchall()

# Print the result
print("Boosters with successful drone ship landing and payload mass between 4000 and 6000 kg:")
for booster in boosters:
    print(booster[0])

# Close the connection
con.close()

Boosters with successful drone ship landing and payload mass between 4000 and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [56]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL queries
success_query = '''SELECT COUNT(*)
                   FROM SPACEXTBL
                   WHERE "Mission_Outcome" = 'Success';'''

failure_query = '''SELECT COUNT(*)
                   FROM SPACEXTBL
                   WHERE "Mission_Outcome" = 'Failure';'''

# Execute the queries and fetch the results
cursor = con.cursor()

cursor.execute(success_query)
success_count = cursor.fetchone()[0]

cursor.execute(failure_query)
failure_count = cursor.fetchone()[0]

# Print the results
print("Total number of successful mission outcomes:", success_count)
print("Total number of failure mission outcomes:", failure_count)

# Close the connection
con.close()

Total number of successful mission outcomes: 98
Total number of failure mission outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [57]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" = (
        SELECT MAX("PAYLOAD_MASS__KG_")
        FROM SPACEXTBL
    );
'''

# Execute the query and fetch the results
cursor = con.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("Booster versions with maximum payload mass:")
for row in results:
    print(row[0])

# Close the connection
con.close()

Booster versions with maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [58]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
    SELECT 
        CASE
            WHEN substr(Date, 6, 2) = '01' THEN 'January'
            WHEN substr(Date, 6, 2) = '02' THEN 'February'
            WHEN substr(Date, 6, 2) = '03' THEN 'March'
            WHEN substr(Date, 6, 2) = '04' THEN 'April'
            WHEN substr(Date, 6, 2) = '05' THEN 'May'
            WHEN substr(Date, 6, 2) = '06' THEN 'June'
            WHEN substr(Date, 6, 2) = '07' THEN 'July'
            WHEN substr(Date, 6, 2) = '08' THEN 'August'
            WHEN substr(Date, 6, 2) = '09' THEN 'September'
            WHEN substr(Date, 6, 2) = '10' THEN 'October'
            WHEN substr(Date, 6, 2) = '11' THEN 'November'
            WHEN substr(Date, 6, 2) = '12' THEN 'December'
        END AS Month_Name,
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTBL
    WHERE substr(Date, 0, 5) = '2015'
        AND "Landing_Outcome" LIKE '%Failure%'
        AND "Landing_Outcome" LIKE '%drone ship%';
'''

# Execute the query and fetch the results
cursor = con.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("Records for year 2015 with failure landing outcomes in drone ship:")
for row in results:
    print(row)

# Close the connection
con.close()

Records for year 2015 with failure landing outcomes in drone ship:
('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [59]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('my_data1.db')

# Define the SQL query
query = '''
    SELECT
        "Landing_Outcome",
        COUNT(*) AS "Count"
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
        AND ("Landing_Outcome" LIKE '%Failure (drone ship)%' OR "Landing_Outcome" LIKE '%Success (ground pad)%')
    GROUP BY "Landing_Outcome"
    ORDER BY "Count" DESC;
'''

# Execute the query and fetch the results
cursor = con.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("Ranking of landing outcomes between 2010-06-04 and 2017-03-20:")
for row in results:
    print(row)

# Close the connection
con.close()

Ranking of landing outcomes between 2010-06-04 and 2017-03-20:
('Failure (drone ship)', 5)
('Success (ground pad)', 3)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>